:root{
    --colorBg: rgb(40, 17, 59);
    --colorP: rgb(100, 29, 158);
    --colorHover: rgb(122, 62, 170);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
}
header{
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background-color: var(--colorBg);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    
}
header a{
    color: white;
}
header span{
    color: rgb(166, 96, 231);
}

.logo{
    font-size: 15px;
    cursor: pointer;
}
.search input{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.312);
    background-color: rgba(255, 255, 255, 0.081);
    color: aliceblue;
}
.search input:focus{
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    
}
#logout a{
    display: flex;
    align-items: center;
    color: aliceblue;
}
#logout h1{
    font-size: 15px;
    padding: 10px;
   
}
/* .user{
    position: fixed;
    left: 0;
    color: aliceblue;
    bottom: 0;
    padding: 20px 25px;
    background-color: var(--colorP);
    z-index: 10;
} */

a{
    text-decoration: none;
}

#start{
    width: 100%;
    height: 100vh;
    background: linear-gradient(black, rgba(0, 0, 0, 1));
    display: flex;
    justify-content: center;

}
.dramabg{
    height: 80vh;
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(../assents/myname2.jpeg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.dramabg h1{
    color: aliceblue;
    position: absolute;
    margin-bottom: 1em;
    font-size: 70px;

    font-family: 'Permanent Marker', cursive;
}
.dramabg  li{
    font-size: 13px;
    margin-bottom: .5em;
    background-color: rgb(79, 14, 14);
    padding: 5px 20px;
    list-style: none;
    display: flex;
    color: aliceblue;
}

.dramabg li:hover{
    background-color: rgb(144, 15, 15);
}

button{
    position: absolute;
    bottom: 0;
    margin-bottom: 4em;
    padding: 15px 6em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
}
button:hover{
    background-color:rgba(255, 255, 255, 0.578);
}

.favoritos{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 1),black,var(--colorBg));
}
#romance{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--colorBg);
    
}
.favoritos h1{
    color: aliceblue;
    position: absolute;
    margin-bottom: 35%;
    font-size: 35px;   
}
#romance h1{
    color: aliceblue;
    position: absolute;
    margin-bottom: 35%;
    font-size: 35px;   
}

.slide-container{
    align-items: center;
    margin-top: 3em;
}

.swiper {
    width: 80vw;
    height: 450px;
    border-radius: 15px;
  
  }

 

  .swiper-slide {
    text-align: center;
    font-size: 18px;
  }
  

  /* .swiper-slide img {
    display: block;
    width: 70%;
    height: 100%;
} */
.swiper-slide img {
    border-radius: 10px;
    margin-left: 2em;
    cursor: pointer;
    display: block;
    width: 80%;
    height: 100%;
    object-fit: cover;
  }
  .card-image{
    padding: 15px;
    height: 400px;
    opacity: 1;
}
.card-image:hover{
    opacity: 0.7;
  }
 .linha{
    width: 100%;
    height: 1px;
    background-color: aliceblue;
    bottom: 0;
    position: absolute;
 }
 .favoritos{
    position: relative;
    
 }
 .linhaFav{
    width: 100%;
    height: 1px;
    background-color: aliceblue;
    bottom: 0;
    position: absolute;
 }


