*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    background-size: cover;
    background-color: black;
    
}
.blur{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../assents/dorama-pousando-no-amor-1.jpg);
    background-size: cover;
    -webkit-filter: blur(4px);
    z-index: -2;
}
.logo{
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgb(220, 78, 242);
    padding: 30px;
   
}
.container{
    background-color: rgba(27, 11, 32, 0.508);
    color: aliceblue;
    width: 35em;
    height: 100vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.container h1{
    font-size: 45px;
    margin-bottom: 30px;
}
input{
    border: 2px solid rgba(137, 43, 226, 0.574);
    padding: 12px 60px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.319);
    color: aliceblue;
    
}

input:focus{
    border: 2px solid rgba(161, 93, 224, 0.985);
    outline: none;
    color: aliceblue;
}
.input2 input{
    position: relative;
}
.input2 i{
    position: absolute;
    margin-top: 2.4em;
    margin-left: -2em;
    color: rgb(113, 113, 113);
    cursor: pointer;

}
#active2{
    display: none;
    padding: 5px 30px;
    font-size: 10px;
    border: 1px  solid red;
    border-top: none;
    text-align:  center;
}
#active{
    display: none;
    padding: 5px 30px;
    font-size: 10px;
    border: 1px  solid red;
    border-top: none;
    text-align:  center;
}
#active1{
    display: none;
    padding: 5px 30px;
    font-size: 10px;
    border: 1px  solid red;
    border-top: none;
    text-align:  center;
}
#min6{
    display: none;
    padding: 5px 30px;
    font-size: 10px;
    border: 1px  solid red;
    border-top: none;
    text-align:  center;
}

button{
    padding: 15px 70px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    background-color: blueviolet;
    color: aliceblue;
    transition: all 1s;
}
button:hover{
    background-color: rgba(137, 43, 226, 0.574);
    padding: 13px 55px;
}

.help a{
    font-size: 12px;
    color: aliceblue;
}
.conta{
    
    font-size: 14px;
    margin-top: 40px;
}

a{
    text-decoration: none;
    color: rgb(147, 95, 189);

}
.sucess{
    color: rgb(47, 255, 71);
    margin-top: 15px;
    display: none;
}